{% extends "base.html.twig" %}

{% block title_text %}
  {% trans %}Change password{% endtrans %}
{% endblock %}

{% block content %}
  <p>{% trans with {"%user%": user.username} %}Change password for user %user%.{% endtrans %}</p>
  {{ form(form) }}
{% endblock %}
