{% extends "base.html.twig" %}

{% block title_text -%}
  {% trans %}Reset password{% endtrans %}
{%- endblock %}

{% block content %}
  {{ form_start(form) }}
  {{ form_rest(form) }}
  <ul>
    <li class="text-muted">You will be emailed with a link that allows you to change your password.</li>
    <li class="text-danger">This functionality is not available to shared municipal accounts!</li>
  </ul>
  <button type="submit" class="btn btn-primary">{% trans %}Submit{% endtrans %}</button>
  {{ form_end(form) }}
{% endblock %}
