form.period_form {
  button.date-display {
    margin-left: -1 * $spacer;
  }

  button.day-description-toggle {
    margin-left: -1 * $spacer / 2;
    font-size: small;
  }

  .fa-minus-circle {
    color: red;
  }

  .fa-plus-circle {
    color: green;
  }

  // Header part of Schedules fieldset
  fieldset.period-schedules {
    // font-size: large;
    background-color: $table-accent-bg;

    > .container-fluid {
      padding: (2 * $spacer) 0 0;
      margin: -37px 0 0;
    }

    #period_form_valid_from,
    #period_form_valid_until {
      button {
        font-size: large;
        margin-top: -1 * $spacer / 2;
      }
    }

    @include media-breakpoint-up("sm") {
      // #period_form_valid_from:after {
      //   content: "»";
      //   color: black;
      //   font-size: xx-large;
      //   position: absolute;
      //   top: 1.5rem;
      //   right: 0;
      // }
    }

    @include media-breakpoint-up("sm") {
      #period_form_valid_until > label {
        // visibility: hidden;
      }
    }
  }
}

#period-form-period-days {
  margin: 0 (-1 * $spacer);
  padding-top: 4rem;
  position: relative;
  background-color: white;

  legend {
    position: absolute;
    top: ($spacer);
    left: $spacer;
  }

  .period-day-data:nth-child(even) {
    background-color: $table-accent-bg;
    padding-top: $spacer;
    margin-bottom: $spacer;
  }

  .period-day-data:last-child {
    margin-bottom: 0;
  }

  .period-day-data[data-label]:before {
    content: attr(data-label);
    width: 100%;
    display: block;
    font-weight: bold;
    line-height: 2rem;
    padding-left: $spacer;
    background-color: gold;
    position: relative;
    top: -1rem;
    margin-top: -1px;
  }

  .period-day-data:first-child:before {
    display: none;
  }

  .period-day-data-time-item {
    button.btn-add-row {
      display: none;
      padding: 0.1rem spacing(2);
      border-radius: 2rem;
      margin-top: 0.25rem;
    }

    button.btn-delete-row {
      position: absolute;
      margin-left: -3rem;
      color: red;

      &:hover {
        color: maroon;
      }
    }

    &:last-of-type {
      button.btn-add-row {
        display: unset;
      }
    }
  }

  .day-insert-first {
    font-size: small;
  }

  .day-description-value {
    max-width: none;
  }

  .day-name {
    position: relative;
    top: -0.3rem;
  }

  .form-check {
    margin-top: .5rem;
  }

  @include media-breakpoint-up("sm") {
    .day-name {
      // Force splitting day name and date to separate rows on big screen sizes.
      width: 5rem;
      display: block;
    }
  }
}
