#entity--person--edit,
#entity--library--persons--edit {
  #person_form_qualities {
    @include media-breakpoint-up("sm") {
      columns: 2;
    }

    @include media-breakpoint-up("md") {
      columns: 3;
    }

    @include media-breakpoint-up("lg") {
      columns: 4;
    }
  }
}
