
$enable-rounded: false;
$enable-gradients: true;

$font-size-h1: 2rem;

$zengreen: #47BC7A;
$formalblue: #2B3A42;
$darkgreen: rgb(46, 134, 77);

$colors: (
  "zengreen": $zengreen,
  "darkgreen": $darkgreen,
  "formalblue": $formalblue,
);

$theme-colors: (
  "navbar": $darkgreen,
  "panel": #f8f8f8,
  "invpanel": #555,
);

$custom-file-text: (
  en: "Browse",
  fi: "Selaa",
  sv: "Foooooo"
);

$custom-file-label: (
  en: "Choose file...",
  fi: "Valitse tiedosto...",
  sv: "Foobar"
);

$navbar-light-toggler-icon-bg: "\f0c9";
$navbar-dark-toggler-icon-bg: "\f0c9";

$table-dark-bg: #444;

/*
 * NOTE: Variables that don't actually customize Bootstrap core -->
 */

$bg-faded: red;

@import "bootstrap";
@import "theme";
@import "react-widgets";
@import "ckeditor";
