{% extends "base.html.twig" %}

{% block region_top %}
  {# Clear this region for index #}
{% endblock %}

{% block region_main %}
  <div class="row">
    <div class="col-md-3">
      <fieldset class="form-section pb-3">
        <legend>{% trans %}Content{% endtrans %}</legend>
        {{ knp_menu_render("admin", {
          vertical: true,
          template: "component/menu/sidebar.html.twig"
        }) }}
      </fieldset>
    </div>
    <div class="col-md-9">
      <fieldset class="form-section">
        <legend>{% trans %}Tools{% endtrans %}</legend>
        {{ knp_menu_render("admin_tools") }}
      </fieldset>
    </div>
  </div>
{% endblock %}
