#service-tool--choose {
  .list-group-item {
    .badge {
      flex-basis: 8rem;
    }
  }
}

#service-tool--verify {
  .badge {
    line-height: 1.2rem;
  }

  .badge-type {
    margin-right: spacing(4);
  }

  .badge-langcode {
    min-width: 2rem;
    margin-left: spacing(2);
  }
}
