{% block breadcrumb %}
  <ol class="breadcrumb">
    {% for child in item.children %}
    <li class="breadcrumb-item">
      {% if child.extra('translation_domain') is same as(false) %}
        {{ child.name }}
      {% else %}
        {{ child.name|trans }}
      {% endif %}
    </li>
    {% endfor %}
  </ol>
{% endblock %}
