{% block breadcrumb %}
  <ol class="breadcrumb">
    {% for child in item.children %}
      {% with {item: child} %}
        {% block menu_item %}
          {% set route_name = item.extra("route") %}
          {% set route_parameters = item.extra("route_parameters", {}) %}

          <li class="breadcrumb-item">
            <a href="{{ item.uri }}">
              {% if item.extra('translation_domain') is same as(false) %}
                {{ item.name }}
              {% else %}
                {{ item.name|trans }}
              {% endif %}
            </a>
          </li>
        {% endblock %}
      {% endwith %}
    {% endfor %}
  </ol>
{% endblock %}
