<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
  <meta charset="UTF-8"/>
  <title>{% trans %}Reset password{% endtrans %}</title>
</head>
<body style="padding: 0; margin: 0;">
  <div style="background-color: #2e864d; color: white; padding: 0.35rem 1rem; font-size: large">Kirkanta</div>
  <div style="padding: 0 1rem">
    <h1 style="margin: 0.75rem 0">Reset password</h1>
    <p>{% trans %}You have requested to reset your password on Kirkanta.{% endtrans %}</p>
    <p>
      <a href="{{ url('user_management.reset_password', { token: token }) }}">{% trans %}Reset your password.{% endtrans %}</a>
    </p>
  </div>
</body>
</html>
